* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 12px;
}

html {
  height: 100%;
  body {
    height: 100%;
    main {
      height: 100%;
      #menu {
        width: 20%;
        height: 100%;
        float: left;
        h2 {
          padding: 10px;
          font-size: 18px;
          font-weight: bold;
        }
        input
        {
          text-align: center;
          padding: 5px;
          margin-bottom: 5px;
          display: block;
          width: 100%;
          border: 0;
          &:hover {
            cursor: pointer;
          }
        }
      }
      #svg-container {
        width: 80%;
        height: 100%;
        float: right;
        overflow: hidden;
      }
    }
  }
}