html {
  background: url("/images/backgrounds/knowledge-graph.png") no-repeat center center fixed;
  background-size: cover;
}

.login-panel {
  position:absolute;
  left: 50%;
  top: 50%;
  width: 350px;
  height: 300px;
  margin-left: -175px; /* Cette valeur doit être la moitié négative de la valeur du width */
  margin-top: -150px; /* Cette valeur doit être la moitié négative de la valeur du height */
  background-color: #f7f7f7;
  border-radius: 15px;
  box-shadow: 0px 0px 2px black;
}

.login-panel .header {
  text-align: center;
  padding: 10px 0px;
  border-bottom: solid gray 1px;
}

label {
  display: block;
  font-weight: bold;
}

.form-elem div {
  padding: 5px 20px;
  font-size: 20px;
}

.form-elem input {
  font-size: 20px;
  width: 100%;
}

.form-login {
  padding: 10px 20px;
  display: inline-block;
  position: absolute;
  bottom: 0px;
}

.form-login button {
  font-size: 20px;
  padding: 5px;
  margin-right: 35px;
}

.form-login p {
  font-size: 15px;
}

.login {
  float: left;
}

.sign {
  float: right;
  height: 35px;
  line-height: 35px;
}

.sign p {
  user-select: none;
  text-decoration: underline;
  cursor: pointer;
}
