.menu{
  background-color: #3b3b3b;
  width: 100%;
  display: inline-block;
  cursor:default;
}

.menuButton{
  display: inline-block;
  float:right;
  border-radius: 2px;
  padding: 5px;
  margin: 9px;
  border: 0px;
}

 #user{
   display: inline-block;
   float:right;
   color:white;
   margin-top: 12px;
 }

.menuButton:hover{
  background-color: #ffffff;
}

#new{
  float: left;
  margin-left: 10px;
}


#title{
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 20px;
  color:white;

}

#titleCenter{
  display: inline-block;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 20px;
  color:white;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: white;
  min-width: 580px;
}

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
  table-layout: fixed;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}
.row.green {
  background: #27ae60;
}
.row.blue {
  background: #2980b9;
}
@media screen and (max-width: 580px) {
  .row {
    padding: 8px 0;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
  }
}

.added {
  width: auto;
  height: auto;
  border: 2px solid #a5a5a5;
  padding: 20px;
  visibility: hidden;
  background-color: #dfdfdf;
  border-radius: 3px;
  text-align: center;
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#black_overlay {
  background-color: #333;
  visibility: hidden;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  z-index: 50;
}




.close {
  float: right;
  position: absolute;
  right: -8px;
  top: -10px;
}
input[type="text"]:not(.addAccesInput){
  width: 92%;
  margin: 10px 0;
  padding: 5px;
  height: 35px;
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 3px;
}

#user{

}

#logo{
  float:left;
  display: inline-block;
  margin-left: 3px;
  margin-top: 3px;
}

.confirm{
  display: inline-block;
  vertical-align: top;
}


button{
  padding: 5px;
  cursor: pointer;
}

*{
  user-select: none;
}
img{
  cursor: pointer;
}

#titleGraph{
  padding: 5px;
  color:white;
  border-bottom: 2px solid #2980b9;
  background-color:  #2980b9;

}

.cell img{
  margin:auto;
  width:32px;
  display:block;
}
.action{
  width: 50px;
  text-align: center;
}

.addAccesInput{
  width: 100%;
  padding: 5px;
  height: 35px;
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 3px;
}
.addAccesInput >.cell   {
padding: 0px;
}

.addcell{
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
}

.currentAccess{
  margin-bottom: 15px;
  margin-top: 15px;

}
#app{
  background-color: #2980b9;
}
